*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
}
.Searchbox{
  
    width: 20px;
    height: 20px;
    margin-left: 380px;
    margin-top: 10px;
}
.nav{
    display: flex;
    margin-top: 10px;
    background-color: black;
    border-bottom: 1px solid rgb(57, 57, 57);
    height: 40px;
}

.navigation{
    margin-left: 360px;
    margin-top: 9px;
}
.mainContent{
    color: white;
}
.button{
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    color: black;
}
.Downloadbutton{
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid black;
    margin-left: 20px;
    
}
.startingtext{
    margin-top: 160px;
}
.maininfo{
    margin-top: 450px;
}
.featuressection{
    margin-top: 100px;

}
.feature1{
    display: flex;
    margin-top: 150px;
    background-color: rgb(21, 21, 21);
    color: white;
    height: 550px;
    width: 1090px;

    margin-left: 220px;
}
.leftfeature1{
    width: 600px;
    padding-top: 180px;
    padding-left: 69px;
}

.lastsecoundtask{
    display: flex;
    
    margin-top: 50px;
}

.leftlast{
    background-color: rgb(26, 26, 26);
    margin-left: 215px;
    width: 480px;
    padding: 30px;
    height: 540px;
    border-radius: 5px;
}
.rightlast{
   background-color: rgb(26, 26, 26);
   margin-left:10px;
   width: 485px;
   padding: 30px;
   height: 540px;
   border-radius: 5px;
   color: white;
}

.leftlast{
    color: white;
}

.lastbox{
    color: white;
    background-color: rgb(26, 26, 26);
    margin-top: 130px;
    width: 1090px;
    height: 250px;
    border-radius: 10px;
    padding-top: 120px;
}

.row1{
    color: rgb(160, 160, 160);
}

.row1part2{
    margin-top: 50px;
}

.footer{
    display: flex;
    margin-left: 215px;
    margin-top: 150px;
}

.row2{
    margin-left: 80px;
}
.row3{
    margin-left: 90px;
}
.row4{
    margin-left: 90px;

}